.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-color: #20201f;
}

.nav-link{
    color: orange;
}

.logo{
    margin-left: 10px;
}

.quem-somos{
    background: #bebebd;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px ;
}

.contatos{
    background: hsl(196, 44%, 85%);
}

.servicos{
    background: #BDBDBD;
}

.bg-footer{
    background-color: black;
    color: white;
}
