.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    background-color: #FACC2E;
}

.quem-somos{
    background: #F7F8E0;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px ;
}

.parceiros{
    background: #EFFBFB;
}